<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> d15ad6edf884a8965ff68340bb7cdd56660aa012
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
  /* 1 rem = 10px */
  font-size: 62, 5%;
}

<<<<<<< HEAD

/* Header */

.nav{
    padding: 1rem;
}
.bg-header{
    background-color: #131320;
} 

.logo-pathly{
    width: 60%;
}

.nav .menu .lista a{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    padding-right: 2rem;
}

.nav .menu .lista .btn-dashboard{
    background-color: #0CA2EF;
    border-radius: 1.5rem;
    padding-left: 2rem;
}


=======
.footer {
  background-color: #131320;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.footer-container {
  color: #fff;
}

.footer-container .copy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-container .list .link {
  color: #0ca2ef;
  font-weight: bold;
}

.footer-container .hr {
  margin: 8rem auto 0;
  border-bottom: 1px solid #fff;
}
>>>>>>> d15ad6edf884a8965ff68340bb7cdd56660aa012
