* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts 
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
  /* 1 rem = 10px */
  font-size: 62, 5%;
}

.row {
  display: flex;
  align-items: center;
}

/* Body 
-------------------------------------------------- */
body {
  font-family: 'Montserrat', sans-serif;
}

.body-index {
  background-image: url('../img/prodcut\ backround.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.body-products {
  background-image: url('../img/PRODUCT.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.body-partner {
  background-image: url('../img/PART.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* height: 100vh; */
}

.body-contact {
  background-image: url('../img/CONTACT.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Header
-------------------------------------------------- */
.nav {
  padding: 1rem;
}

.bg-header {
  background-color: #131320;
}

.logo-pathly {
  width: 60%;
}

.nav .menu .lista a {
  color: #fff;
  padding-right: 1.8rem;
  font-weight: bold;
}

.active-section {
  color: #69cf9e !important;
}

.nav .menu .btn-dashboard {
  background-color: #0ca2ef;
  border-radius: 1.5rem;
  padding-left: 2rem;
  color: #fff;
  padding-right: 1.8rem;
  font-weight: bold;
  display: inline-block;
}

/* Footer
-------------------------------------------------- */
.footer {
  background-color: #131320;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.footer-container {
  color: #fff;
}

.footer-container .copy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-container .list .link {
  color: #0ca2ef;
  font-weight: bold;
}

.footer-container .hr {
  margin: 8rem auto 0;
  border-bottom: 1px solid #fff;
}

/* Product 
-------------------------------------------------- */
.p-product {
  color: #fff;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.h2-product {
  color: #0ca2ef;
  font-size: 2rem;
  font-weight: bold;
}

.p-light-product {
  color: #fff;
  font-size: 1.4rem;
}

.p-ancho {
  width: 52%;
  margin: 0 auto;
}

.secureCustomer {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.texPathly {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 5rem 0 20rem;
}

.imgPathly {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.imgPathly img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flex-container {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
}

.flex-container-start {
  display: flex;
  justify-content: flex-start;
}

.contenedor-3 {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: 0;
  /* height: 100%; */
}

.contenedor-3 .img-product-3 {
  position: absolute;
  top: 0;
  left: 690px;
}

/* Partners
-------------------------------------------------- */
.partner {
  height: 100%;
  /* padding-top: 5rem; */
}

.partner .list {
  color: #fff;
}

.btn-sign-up {
  background-color: #69cf9e;
  border-radius: 1.5rem;
  padding-left: 2rem;
  border: none;
}

.btn-sign-up:hover {
  background-color: #69cf9e;
}

/* Buttom border index
-------------------------------------------------- */
.btn-sign-up-border {
  border: solid 2px #69cf9e;
  border-radius: 1.5rem;
  background-color: transparent;
}

.btn-sign-up-border-none {
  border-radius: 1.5rem;
  background-color: #69cf9e;
  border: none;
}

.btn-sign-up-border-none:hover {
  background-color: #69cf9e;
}

.btn-sign-up-border:hover {
  background-color: #69cf9e;
  border: solid 2px #69cf9e;
}

.btn-sign-up-border:focus {
  background-color: #69cf9e;
  outline: solid 2px #69cf9e;
}

.div-btn-index {
  width: 100%;
}

/* Contact 
-------------------------------------------------- */
.form {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  color: #fff;
}

.fila .title {
  text-align: justify;
}

.fila .input-form {
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.4rem;
}

.fila .input-form:focus {
  outline: none;
  border: none;
}

.fila .textarea {
  resize: none;
}

.btn-form {
  background-color: #0ca2ef;
  border-radius: 1.5rem;
  padding: 0.5rem;
  border: none;
  color: #fff;
}

.btn-form-up:hover {
  background-color: #0ca2ef;
}

.enlace-contact-us {
  text-decoration: none;
  color: #fff;
}

.enlace-contact-us:hover {
  color: #fff;
}

@media screen and (max-width: 1455px) {
  .texPathly {
    padding: 0 2rem 0 5.5rem;
  }
}

@media screen and (max-width: 1405px) {
  .texPathly {
    padding: 0 2rem 0 3.5rem;
  }
}

/* Dispositivos muy grandes 
-------------------------------------------------- */

@media screen and (max-width: 1399px) {
  .texPathly {
    padding: 0 2rem 0 8rem;
  }
}

@media screen and (max-width: 1350px) {
  .texPathly {
    padding: 0 2rem 0 7rem;
  }
}

@media screen and (max-width: 1300px) {
  .texPathly {
    padding: 0 2rem 0 5.5em;
  }
}

@media screen and (max-width: 1240px) {
  .texPathly {
    padding: 0 2rem 0 3.5em;
  }
}

/* Dispositivos grandes 
-------------------------------------------------- */

@media screen and (max-width: 1200px) {
  .texPathly {
    padding: 0 2rem 0 2.5em;
  }
}

@media screen and (max-width: 1198px) {
  .texPathly {
    padding: 0 2rem 0 7.5em;
  }
}

@media screen and (max-width: 1190px) {
  .texPathly {
    padding: 0 2rem 0 6.4em;
  }
}

@media screen and (max-width: 1160px) {
  .texPathly {
    padding: 0 2rem 0 6em;
  }
}

@media screen and (max-width: 1130px) {
  .texPathly {
    padding: 0 2rem 0 5rem;
  }
}

@media screen and (max-width: 1090px) {
  .texPathly {
    padding: 0 2rem 0 4.5rem;
  }
}

@media screen and (max-width: 1050px) {
  .texPathly {
    padding: 0 2rem 0 3.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .texPathly {
    padding: 0 2rem 0 2.5rem;
  }
}

/* Dispositivos medianos (tabletas, 768px y más)
-------------------------------------------------- */
@media screen and (max-width: 991px) {
  .texPathly {
    padding: 0 2rem 0 8rem;
  }
}

@media screen and (max-width: 950px) {
  .texPathly {
    padding: 0 2rem 0 6.5rem;
  }
}

@media screen and (max-width: 892px) {
  .texPathly {
    padding: 0 2rem 0 5.2rem;
  }
}

@media screen and (max-width: 850px) {
  .texPathly {
    padding: 0 2rem 0 4.5rem;
  }
}

@media screen and (max-width: 840px) {
  .texPathly {
    padding: 0 2rem 0 3.4rem;
  }
}

@media screen and (max-width: 800px) {
  .texPathly {
    padding: 0 2rem 0 3rem;
  }
}

/* Dispositivos pequeños
-------------------------------------------------- */
@media screen and (max-width: 767px) {
  .p-product {
    font-size: 2.5rem;
  }

  .form {
    width: 80%;
  }

  .mb-5 {
    margin-bottom: 0 !important;
  }

  .flex-container,
  .flex-container-start {
    display: flex;
    justify-content: center;
  }

  .secureCustomer {
    display: none !important;
  }
}
